/* ------ 
   Fonts 
   ------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ---------------------------
   Common Styles or Utilities
   --------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* ---------------
   Top characters 
   --------------- */
.top-characters{
    margin-bottom: 30px;
}

.section-title{
    color: #800080;
    font-size: 24px;
    margin-top: 3px;
}

.characters{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.character{
    display: flex;
    align-items: center;
}

.character img{
    width: 56px;
    height: 56px;
    border-radius: 90px;
}

.character-name{
    margin-left: 16px;
    font-size: 18px;
}

/* ----------------------
   Top Character Reviews 
   ---------------------- */
.reviews{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}

.review{
    display: flex;
}

.review .thumbnail img{
    width: 177px;
    height: 117px;
    border-radius: 10px;
}

.review-info{
    margin-left: 16px;
}

.review-title{
    font-size: 20px;
}

.review-author{
    color: #9F9F9F;
    font-size: 16px;
}

.review-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* --------------
   Latest Movies 
   -------------- */
.movies{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    border-radius: 5px;
}

.movie .movie-banner img{
    width: 224px;
    height: 120px;
    border-radius: 10px;
}

.movie-detail{
    width: 224px;
}

.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;
}

/* -------------
    Media Query 
   ------------- */

/* Mobile Devices */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
    }
    .characters, .reviews, .movies{
        grid-template-columns: repeat(1, 1fr);
    }
    .character, .review{
        flex-direction: column;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .characters, .reviews, .movies{
        grid-template-columns: repeat(2, 1fr);
    }
    .reviews{
        grid-template-columns: repeat(1, 1fr);
    }
    .character, .review{
        flex-direction: column;
    }
}